body{
	background-color:#000;
}

.content, .content-head, .content-body, .content-controls{
	/* Set up positioning */
	position: absolute;
	float: left;
	top: 0;
	left: 0;
			
	
}


.content{

}

.content-head{
	background-color:#0F0;
	height:65px;
}

.content-body{
	/*background-color:#90C;*/
	/*top:65px;*/
}


.content-controls{
	/*background-color:#FF0;
	height:130px;*/
}
